button {
    background-color: pink;
    border: 3px solid deeppink;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 2px palevioletred;
    transition: .3s;
}
