form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.inputWrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    width: 70%;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.inputWrapper > label {
    font-size: 18px;
}

.inputWrapper > input {
    font-weight: bold;
    font-size: 18px;
    background-color: pink;
    border: 3px solid deeppink;
    border-radius: 5px;
    padding: 3px 6px;
    outline: none;
}
