.bookItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #646cff;
    border-radius: 10px;
    margin: 5px;
}

/*.bookItem__image::before {*/
/*    content: '';*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: pink;*/
/*    position: absolute;*/
/*}*/

/*.bookItem__image::after {*/
/*    content: "\2639" " " attr(alt);*/

/*    font-size: 18px;*/
/*    color: rgb(100, 100, 100);*/

/*    display: block;*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    top: 5px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.bookItem__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: flex-start;
    padding: 0 30px 10px 30px;
}

.bookItem__details__secondary {
    display: flex;
    gap: 20px;
}

.bookItem__buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px 30px;
}
