.bookList {

}

.bookList__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.bookList__header__newBookButton {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 20px;
    background-color: pink;
    border: 3px solid deeppink;
    border-radius: 5px;
}

.bookList__header__newBookButton:hover {
    box-shadow: 2px 3px palevioletred;
    transition: .3s;
}
