.bookList {

}

.bookList__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.bookList__header__newBookButton {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
}

.bookList__searchBar {
    font-weight: bold;
    font-size: 18px;
    background-color: pink;
    border: 3px solid deeppink;
    border-radius: 5px;
    padding: 3px 6px;
    outline: none;
    width: 150px;
}

.bookList__searchBar::placeholder {
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
}
