.bookItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border: 3px solid #646cff;
    border-radius: 10px;
    margin: 5px;
}

.bookItem__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookItem__details__secondary {
    display: flex;
    gap: 20px;
}
